Source: ram-tui
Section: utils
Priority: optional
Maintainer: Raven <blackfeatheractual@proton.me>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://github.com/BlackFeather-git/ram-tui

Package: ram-tui
Architecture: all
Depends: python3 (>= 3.6), ${misc:Depends}
Description: Lightweight, aesthetic real-time terminal memory monitor
 Fast, zero-dependency, and aesthetic real-time terminal memory monitor
 written in pure Python standard library.
